/* ----------------------------------------------------------------
          GLOBAL STYLES
---------------------------------------------------------------- */

html {
	box-sizing: border-box;
}

*, *:before, *:after {
	box-sizing: inherit;
}

* {
	font-family: 'Nunito Sans', sans-serif;
}

a {
	color: #607d8b;
	text-decoration: none;
}

/* --- Manages all items that require a cursor on hover --- */

.menu-select,
.nav-trigger-open,
.nav-trigger-close,
.menu-button,
.button-wrapper button:hover {
	cursor: pointer;
}

.noscroll {
	height: 100vh;
	overflow-y: hidden;
}

.text {
	line-height: 1.25;
}

.section-text {
	font-size: 20px;
	line-height: 1.4;
}



/* ----------------------------------------------------------------
          HEADER STYLES
---------------------------------------------------------------- */




header {
	position: fixed;
	background-color: #fff;
	width: 100vw;
	border-bottom: 1px solid rgba(0, 0, 0, 0.2);
	padding: 0.5vh 0;

		  -webkit-transform:translateZ(1);
	    -moz-transform:translateZ(1);
	    -o-transform:translateZ(1);
	    transform:translateZ(1);
}

.titles {
	display: flex;
	flex-direction: row;
	justify-content: center;
	align-items: center;
	height: 10vh;
}

.titles img {
	height: 80%;
}

#nav-trigger {
	display: none;
}

.nav-trigger-open {
	font-size: 24px;
	padding: 0;
	color: rgba(0, 0, 0, 0.6);
	position: absolute;
	top: 5px;
	right: 10px;
}

header nav {
	box-shadow: -1px 0px 300px rgba(0, 0, 0, 0.6);
	display: none;
	width: 70%;
	min-height: 100vh;
	position: fixed;
	top: 0;
	right: 0;
	height: 100%;
	background-color: #fff;
	overflow-y: scroll;

		  -webkit-transform:translateZ(5);
	    -moz-transform:translateZ(5);
	    -o-transform:translateZ(5);
	    transform:translateZ(5);
}

header nav .nav-trigger-close {
	position: absolute;
	z-index: 999;
	margin: 5px;
	font-size: 24px;
}

.menu {
	margin: 0;
	padding: 0;
	list-style-type: none;
	text-align: center;
	padding-top: 6vh;
}

.menu-item {
	margin: 7vh auto;
	color: #000;
	text-decoration: none;
	font-size: 20px;
	cursor: pointer;
}

.menu-item a {
	text-decoration: none;
	font-size: 20px;
}

#about-submenu-trigger {
	display: none;
}

.submenu-wrapper {
	margin: 0;
	padding: 0;
	list-style-type: none;
	opacity: 1;
	display: none;
}

.submenu {
  padding: 10px 0 0;
  list-style-type: none;
}

.submenu-item {
	text-decoration: none;
	font-size: 16px;
	margin: 2vh auto;
}

.submenu-item a {
	text-decoration: none;
	font-size: 16px;
}

/* --- Open menus --- */

#nav-trigger:checked ~ nav {
	display: block;
}

#about-submenu-trigger:checked ~ .submenu-wrapper {
	display: block;
}

/* --- End Open menus section --- */


/* --- Menu item colors --- */
.menu-select {
	color: rgba(0, 0, 0, 0.6);
	transition: color 0.2s linear;
}

.menu-select:hover {
	color: rgba(0, 0, 0, 0.8);
}

.nav-trigger-close svg {
	fill: rgba(0, 0, 0, 0.6);
}

.nav-trigger-close:hover svg {
	fill: rgba(0, 0, 0, 0.8);
}




/* ----------------------------------------------------------------
          MAIN STYLES
---------------------------------------------------------------- */




main {
	padding: 11vh 0 0;
	display: flex;
	flex-direction: column;
}

section {
	padding: 0;
}

.section-heading {
	background-size: cover;
	background-repeat: no-repeat;
	height: 40vh;
	color: #fff;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
}

.section-heading h1 {
	text-align: center;
	text-shadow: 1px 1px 7px rgba(0, 0, 0, 0.5);
}

.section-heading hr {
}

.wrapper {
	padding: 10px;
}

#why-private-lessons .section-heading {
	background-image: -webkit-linear-gradient(0, rgba(255, 255, 255, 0.2), rgba(255, 255, 255, 0.2)),
											url('./assets/why-private-lessons.jpg');
}

#student-opportunities {
	//min-height: 0;
}

#student-opportunities .section-heading {
	background-image: -webkit-linear-gradient(0, rgba(255, 255, 255, 0.2), rgba(255, 255, 255, 0.2)),
											url('./assets/student-oppurtunities.jpg');
}

.opportunities {
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	width: 90%;
	margin: 0 auto;
	justify-content: center;
}

.opportunity-viewer ul {
	margin: 0;
}

.button-wrapper {
	width: 100%;
	// height: 35vw;
	margin: 3px;
	border-radius: 2px;
	/*background-color: #eee;*/
}

.button-wrapper button {
	border: none;
	width: 100%;
	height: 100%;
	color: rgba(0, 0, 0, 0.7);
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	padding: 40px 0;
}

.button-wrapper a {
	text-decoration: none;
}

.opportunity-btn-icon {
	padding-bottom: 7px;
	font-size: 36px;
}

.opportunities h4 {
	font-size: 14px;
	margin: 0;
	vertical-align: center;
}

.opp-view {
	color: rgba(0,0,0,0.8);
	display: flex;
	flex-direction: column;
	position: fixed;
	background-color: rgba(0, 0, 0, 0.5);
	width: 100vw;
	left: 0;
	height: 100vh;
	top: 0;
	padding-top: 0;
	overflow-y: scroll;
	z-index: 999;
}

.opp-view:not(:target) {
	display: none;
}

.top-close {
	float: right;
	margin: 0;
	color: rgba(255,255,255,0.8);
	font-size: 30px;
	position: absolute;
	right: -40px;

}
.opp-wrapper {
	max-width: 700px;
	margin: 10px auto;
	position: relative;
}

.content {
	padding: 15px;
	background-color: #fff;
}

.content img {
	width: 100%;
}


.text p {
}

.content button {
	display: inherit;
	margin: 0 auto;
	padding: 10px 0;
	border-radius: 2px;
	border: none;
}

.content button a {
	color: rgba(0, 0, 0, 0.7);
	padding: 10px 30px;
}

.content button a:hover {
	color: #000;
}
/*.opportunities li:not(:target) {
}*/

/*.see-more {
	display: flex;
	flex-direction: row;
	font-size: 16px;
	align-items: center;
	justify-content: center;
}

.see-more h6 {
	margin: 0;
}

.see-more i {
	font-size: inherit;
	padding-bottom: inherit;
	margin-left: 2px;
}*/


/* --- Handle button accent colors --- */

.weekly-lessons,
#weekly-lessons button {
	background-color: #a2d9e0;
}

.group-classes,
#group-classes button {
	background-color: #e2ce91;
}

.bi-annual,
#bi-annual button {
	background-color: #a77ca9;
}

.parent-education,
#parent-education button {
	background-color: #d698a9;
}

/* --- Handle button accent hover effects --- */

.weekly-lessons:hover,
#weekly-lessons button:hover {
	background-color: #73bec8;
	color: #000;
}

.group-classes:hover,
#group-classes button:hover {
	background-color: #dcc069;
	color: #000;
}


.bi-annual:hover,
#bi-annual button:hover {
	background-color: #a572a7;
	color: #000;
}

.parent-education:hover,
#parent-education button:hover {
	background-color: #ca8296;
	color: #000;
}


/* --- Studio Policies section --- */
#studio-policies {
	min-height: 30vh;
	/*background-image: -webkit-linear-gradient(0, rgba(255,255,255,0.8), rgba(255,255,255,0.8)), url('./assets/studio-policies.jpg');
	background-size: cover;
	background-position: center;
	*/
	color: #000;
}

#studio-policies .section-heading {
	background-image: -webkit-linear-gradient(0, rgba(255, 255, 255, 0.2), rgba(255, 255, 255, 0.2)),
											url('./assets/studio-policies.jpg');
	background-position: center;
}

#suzuki {
}

#suzuki .section-heading {
	background-image: -webkit-linear-gradient(0, rgba(255, 255, 255, 0.2), rgba(255, 255, 255, 0.2)),
											url('./assets/suzuki.jpg');
}

#suzuki intro {
}

#suzuki ul {
	margin: 0;
	padding: 0;
	list-style-type: none;
}

#suzuki li {
}

#suzuki li h4 {
}

#suzuki li p {
}



/* ----------------------------------------------------------------
          FOOTER STYLES
---------------------------------------------------------------- */



footer {
	margin: 4vh;
}

.media-links ul {
	margin: 0;
	padding: 0;
	list-style-type: none;
	/*margin: 0;*/
	display: flex;
	flex-direction: row;
	justify-content: center;
}

.media-links li {
	display: flex;
	align-items: center;
	justify-content: center;
	margin: 0 4vw;
	border-radius: 50%;
	width: 40px;
	height: 40px;
	background-color: rgba(0, 0, 0, 0.7);
}

.media-links a {
	font-size: 0;
	color: #fff;
}

.media-links i {
	font-size: 22px;
}

.footer-text {
	text-align: center;
	margin: 15px 0;
}

.footer-text h6 {
	margin: 0;
}





/* ----------------------------------------------------------------
          MEDIA STYLES
---------------------------------------------------------------- */




@media only screen and (min-width: 500px) {
	.button-wrapper {
		width: 48%;
		/*height: 25vh;*/
	}
}

@media only screen and (min-width: 800px) {

/* --- HEADER STYLES --- */
	header {
		display: flex;
		flex-direction: row;
		justify-content: space-between;
	}

	.titles img {
		margin: 0 2vh;
	}

	.nav-trigger-open {
		display: none;
	}

	header nav {
		display: inline;
		min-height: 0;
		position: static;
		background-color: transparent;
		box-shadow: none;
	}

	header nav .nav-trigger-close {
		display: none;
	}

	.menu {
		padding: 0 2vh;
		height: 10vh;
		display: flex;
		right: 0;
		align-items: center;
		justify-content: flex-end;
	}

	.menu-item {
		margin: 0;
		margin-left: 30px;
		display: flex;
		font-size: 18px;
		flex-direction: column;
		align-items: center;
	}

	.menu-item a {
		font-size: 18px;
	}

 .submenu-wrapper {
	position: absolute;
	padding: 10px;
	width: 120px;
	height: 120px;
 }

 .submenu {
	position: relative;
	margin-top: 18px;
	padding-top: 0;
	background-color: #fff;
	flex-direction: column;
	width: 120px;
	display: block;
	border: 1px solid rgba(0, 0, 0, 0.5);
	/*right: -58px;*/
	left: -15px;
 }

 /* Display submenu on hover */

 .menu-button:hover + .submenu-wrapper {
	display: block;

			  -webkit-transform:translateZ(200);
	    -moz-transform:translateZ(200);
	    -o-transform:translateZ(200);
	    transform:translateZ(200);
 }

 .submenu-wrapper:hover {
	display: block;

			  -webkit-transform:translateZ(200);
	    -moz-transform:translateZ(200);
	    -o-transform:translateZ(200);
	    transform:translateZ(200);
 }

 /* Submenu styles */

	.submenu-item {
		font-size: 16px;
		/*text-align: right;*/
	}/* Main styling */

	/* --- MAIN STYLES --- */

	.wrapper {
		max-width: 700px;
		margin: 30px auto;
	}

	.section-heading {
		height: 80vh;
	}

	.section-heading h1 {
		font-size: 50px;
	}
	
	#why-private-lessons {/*background-image: -webkit-linear-gradient(0, rgba(255, 255, 255, 0.8), rgba(255, 255, 255, 0.8)), url('./assets/why-private-lessons.jpg');*/
	}

	#student-opportunities .section-heading {
		background-position-y: 42%;
	}

	.opportunities {
		width: 100%;
	}

	/* --- FOOTER STYLES --- */

	footer {
		margin: 3vh 0;
	}

	.media-links li {
		margin: 0 10px;
	}
}
